
#-------------------------------------------------------------------------------
#
# ClinEff configuration file
#
# File format: Mostly the same as SnpEff config file (snpEff.config)
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Section: Data dir
#
# Databases are stored in the 'data.dir' directory
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory. 
# Also, a non-absolute path will be relative to config's file dir
# 
#---
data.dir : ./data/

#-------------------------------------------------------------------------------
# Section: Database repository
#-------------------------------------------------------------------------------

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---
database.repository : http://downloads.sourceforge.net/project/snpeff/databases

#---
# Latest version numbers. Check here if there is an update.
#---
versions.url : http://www.dnaminer.com/versions.txt

#-------------------------------------------------------------------------------
# Report customized fields
#
# All fields in the config file are passed directly to the reports. You can 
# include the infromation by changing the template files (*.flt) adding the 
# field as '${fieldName}'
#
# The following fields will be ignored by ClinEff, but are made available to the
# report, thus allowing customization.
#
# WARNING: Names containing dots are interpreted by the template engine, so
# you should avoid them here.
#-------------------------------------------------------------------------------
company_name : DnaMiner
company_address : 123 Mass Av., Cambridge, MA, USA
company_phone : 911-911-9119
company_url : http://www.dnaminer.com
company_logo : http://www.dnaminer.com/assets/images/logo.png
company_email : info@dnaminer.com

#-------------------------------------------------------------------------------
# Section: Loss of function (LOF) 
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the 
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

#  It is assumed that even with a protein coding change at the 
#  first 5% of the protein: 
#  		"..suggesting some disrupted transcripts are 
#  		rescued by transcriptional reinitiation at an 
#  		alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than 
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Section: Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list 
# 			Where 'codon' is in uppper case, aminoAcid is a one letter 
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard								: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Vertebrate_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/*, AGG/*, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Yeast_Mitochondrial					: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/T, CTC/T, CTA/T, CTG/T, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mold_Mitochondrial					: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Protozoan_Mitochondrial				: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Coelenterate							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mitochondrial							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Mycoplasma							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Spiroplasma							: TTT/F, TTC/F, TTA/L+, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Invertebrate_Mitochondrial			: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ciliate_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Dasycladacean_Nuclear					: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Hexamita_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Q, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Echinoderm_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Flatworm_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Euplotid_Nuclear						: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/C, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Bacterial_and_Plant_Plastid			: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Yeast_Nuclear				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/S+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Ascidian_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/G, AGG/G, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Alternative_Flatworm_Mitochondrial	: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/Y, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Blepharisma_Macronuclear				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/Q, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Chlorophycean_Mitochondrial			: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Trematode_Mitochondrial				: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/M, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/N, AAG/K, AGT/S, AGC/S, AGA/S, AGG/S, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Scenedesmus_obliquus_Mitochondrial	: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/*, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/L, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Thraustochytrium_Mitochondrial		: TTT/F, TTC/F, TTA/*, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

#-------------------------------------------------------------------------------
# Section: Genome definitions
#
# One entry per genome. 
#
# For genome version 'ZZZ' the entries look like
#	ZZZ.genome              : Real name for ZZZ (e.g. 'Human')
#	ZZZ.reference           : [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#	ZZZ.chrName.codonTable  : [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#	ZZZ.coordinates         : {GRCh37, GRCh38}. Is this genome in GRCh37 or GRCh38 coordinates?
#
#-------------------------------------------------------------------------------

#---
# Homo sapiens hg19: UCSC
#---
hg19.genome : Homo_sapiens (UCSC)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial
	hg19.MT.codonTable : Vertebrate_Mitochondrial
	hg19.coordinates : GRCh37

#---
# Homo sapiens hg38: UCSC
#---
hg38.genome : Homo_sapiens (UCSC)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial
	hg38.MT.codonTable : Vertebrate_Mitochondrial
	hg38.coordinates : GRCh38

#---
# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
#---
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \											# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
	hg19kg.M.codonTable : Vertebrate_Mitochondrial
	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
	hg19kg.coordinates : GRCh37

#---
# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
#---
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38kg.M.codonTable : Vertebrate_Mitochondrial
	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
	hg38kg.coordinates : GRCh38

#---
# ENSEMBL coordinatess (GRCh37)
#---
GRCh37.75.genome : Homo_sapiens
	GRCh37.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
	GRCh37.75.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.75.MT.codonTable : Vertebrate_Mitochondrial
	GRCh37.75.coordinates : GRCh37

#---
# ENSEMBL coordinatess (GRCh38)
#---
GRCh38.86.genome : Homo_sapiens
	GRCh38.86.reference : ftp://ftp.ensembl.org/pub/release-81/gtf/
	GRCh38.86.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.86.MT.codonTable : Vertebrate_Mitochondrial
	GRCh38.86.coordinates : GRCh38

#---
# GRCh37 release from NCBI's RefSeq 
#---
GRCh37.p13.RefSeq.genome : Human genome GRCh37 using RefSeq transcripts
	GRCh37.p13.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh37.p13.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.RefSeq.MT.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.RefSeq.coordinates : GRCh37

#---
# GRCh38 release from NCBI's RefSeq 
#---
GRCh38.p7.RefSeq.genome : Human genome GRCh38 using RefSeq transcripts
	GRCh38.p7.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/
	GRCh38.p7.RefSeq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p7.RefSeq.MT.codonTable : Vertebrate_Mitochondrial
	GRCh38.p7.RefSeq.coordinates : GRCh38

#---
# Testing ad debugging
#---
# Hg19
testHg19Chr1.genome             : testHg19Chr1
testHg19Chr2.genome             : testHg19Chr2
testHg19Chr3.genome             : testHg19Chr3
testHg19Chr4.genome             : testHg19Chr4
testHg19Chr5.genome             : testHg19Chr5
testHg19Chr6.genome             : testHg19Chr6
testHg19Chr7.genome             : testHg19Chr7
testHg19Chr8.genome             : testHg19Chr8
testHg19Chr9.genome             : testHg19Chr9
testHg19Chr10.genome            : testHg19Chr10
testHg19Chr11.genome            : testHg19Chr11
testHg19Chr12.genome            : testHg19Chr12
testHg19Chr13.genome            : testHg19Chr13
testHg19Chr14.genome            : testHg19Chr14
testHg19Chr15.genome            : testHg19Chr15
testHg19Chr16.genome            : testHg19Chr16
testHg19Chr17.genome            : testHg19Chr17
testHg19Chr18.genome            : testHg19Chr18
testHg19Chr19.genome            : testHg19Chr19
testHg19Chr20.genome            : testHg19Chr20
testHg19Chr21.genome            : testHg19Chr21
testHg19Chr22.genome            : testHg19Chr22
testHg19ChrX.genome             : testHg19ChrX
testHg19ChrY.genome             : testHg19ChrY

# GRCh37.75
testHg3775Chr1.genome             : testHg3775Chr1
testHg3775Chr2.genome             : testHg3775Chr2
testHg3775Chr3.genome             : testHg3775Chr3
testHg3775Chr4.genome             : testHg3775Chr4
testHg3775Chr5.genome             : testHg3775Chr5
testHg3775Chr6.genome             : testHg3775Chr6
testHg3775Chr7.genome             : testHg3775Chr7
testHg3775Chr8.genome             : testHg3775Chr8
testHg3775Chr9.genome             : testHg3775Chr9
testHg3775Chr10.genome            : testHg3775Chr10
testHg3775Chr11.genome            : testHg3775Chr11
testHg3775Chr12.genome            : testHg3775Chr12
testHg3775Chr13.genome            : testHg3775Chr13
testHg3775Chr14.genome            : testHg3775Chr14
testHg3775Chr15.genome            : testHg3775Chr15
testHg3775Chr16.genome            : testHg3775Chr16
testHg3775Chr17.genome            : testHg3775Chr17
testHg3775Chr18.genome            : testHg3775Chr18
testHg3775Chr19.genome            : testHg3775Chr19
testHg3775Chr20.genome            : testHg3775Chr20
testHg3775Chr21.genome            : testHg3775Chr21
testHg3775Chr22.genome            : testHg3775Chr22
testHg3775ChrX.genome             : testHg3775ChrX
testHg3775ChrY.genome             : testHg3775ChrY
