
#-------------------------------------------------------------------------------
#
# ClinEff workflow file
#
# Base file format: Properties file (Java). 
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# Modules
#-------------------------------------------------------------------------------

# Annotation modules
# Note: Comma separated list of modules. Either modules names, or 
#       java class names can be used 
# Note: ANN annotations are always included, so there is 
#       no need to include them name here
modules.annotation : gwasCatalog, dbNsfp

# Reporting modules
# Format: Comma separated Java class names (fully qualified)
modules.report : com.clineff.report.ReportLof \
				, com.clineff.report.ReportHighImpact \
				, com.clineff.report.ReportClinical

#---
# Annotators additional arguments (command line options)
# The format is the module's name preceded by 'args.'
# The name is mapped to a java class name
#---
args.ann         :
args.gwasCatalog : 
args.dbNsfp      :

#---
# Module-specific parameters
#---

# DbNSFP fields: Comma separated list of fields to use for dbNSFP 
# annotations (no spaces ot tabs allowed in this list)
dbnsfp.fields : SIFT_pred,Polyphen2_HDIV_pred,Polyphen2_HVAR_pred,LRT_pred,MutationTaster_pred,FATHMM_pred,CADD_phred,1000Gp3_AF,1000Gp3_AFR_AF,1000Gp3_EUR_AF,1000Gp3_AMR_AF,1000Gp3_EAS_AF,1000Gp3_SAS_AF,ESP6500_AA_AF,ESP6500_EA_AF,ExAC_AF,ExAC_Adj_AF,ExAC_AFR_AF,ExAC_AMR_AF,ExAC_EAS_AF,ExAC_FIN_AF,ExAC_NFE_AF,ExAC_SAS_AF

#-------------------------------------------------------------------------------
# Databases
# Default set of VCF files to use when annotating
# Note: Comma separated list of files
# Note: Paths not starting with '/' are assumed to be relative to 'dataDir'
#-------------------------------------------------------------------------------
annotation.db.vcf    : db/GRCh38/clinVar/clinVar.20161129.vcf \
							, db/GRCh38/dbSnp/dbSnp_v149.20161122.vcf.gz

database.gwascatalog : db/GRCh38/gwasCatalog/gwasCatalog.20161215.tsv
database.dbnsfp      : db/GRCh38/dbNSFP/dbNSFP3.3.txt.gz

#-------------------------------------------------------------------------------
# Filters
#
# Filter definition:
#     The format in filter entries is 'filter.FILTER_NAME'
#     The entry is a "SnpSift filter" expression. If expression is 
#     'true', then FILTER_NAME is added to the FILTER column in the VCF 
#     output. 
#
#     Note: According to the VCF specification, any other PASS indicates 
#     a list of filters that did not pass. So this are expressions to 
#     'filter out' variants
#     
#    For example, the following filter is filtering out any variant having 
#    Allele Frequency over 1% in any of the well know databases (1KG,ExAC,ESP)
#-------------------------------------------------------------------------------
filter.AF_1KG  : ((exists dbNSFP_1000Gp3_AF) && (dbNSFP_1000Gp3_AF >= 0.05)) 

filter.AF_ESP  : ((exists dbNSFP_ESP6500_AA_AF) && (dbNSFP_ESP6500_AA_AF >= 0.05)) \
					|| ((exists dbNSFP_ESP6500_EA_AF) && (dbNSFP_ESP6500_EA_AF >= 0.05)) \
					|| ((exists ExAC_AF) && (ExAC_AF >= 0.05))

filter.AF_EXAC : ((exists dbNSFP_ExAC_Adj_AF) && (dbNSFP_ExAC_Adj_AF >= 0.05)) 

# Filters to use: Comma separated list of FILTER_NAMEs (i.e. defined as 'filter.FILTER_NAME') 
filters        : AF_1KG,AF_ESP,AF_EXAC

